{% extends "base.html" %}
{% load i18n %}



{% block content %}
<div class="jumbotron">
    <h1>{% trans "Let your users confess to your Facebook page" %}</h1>
    <p class="lead">{% trans "Registration is simple, just login with facebook and select Facebook page you want to use for confessions." %}</p>
      <div class="well" style="max-width: 400px; margin: 0 auto 10px;">
        <a class="btn btn-large btn-block btn-success" href="{% url socialauth_begin "facebook" %}">{% trans "Sign up with Facebook" %}</a>
      </div>

    </div>

    <hr>

    <div class="row-fluid marketing">
        <div class="span6">
          <h4>{% trans "Why?" %}</h4>
          <p>{% trans "This project has started as a reaction to a huge demand for the confessions posting services, most of the working Facebook pages are using google docs and similar things. That seems to be rather stupid and that is why I created this project. " %}</p>

          <h4>{% trans "Is this a copy?" %}</h4>
          <p>{% trans "Not really, there are some similar projects but none of them is open for registration nor open source" %}</p>

      </div>

      <div class="span6">
          <h4>{% trans "Can I have the code?" %}</h4>
          <p>{% trans "Yes, just look at my github page: " %}<a href="https://github.com/Visgean/confessiator">Visgean/confessiator</a>, it's written in Django.</p>

          <h4>{% trans "How often do you sync the confessions?" %}</h4>
          <p>{% trans "Hourly." %}</p>

          <h4>{% trans "Is it hard to register?" %}</h4>
          <p>{% trans "Not really, just click on that big green button." %}</p>
      </div>
  </div>

  <hr>

  {% endblock content %}
