{% extends "base.html" %}
{% load i18n %}



{% block content %}
<div class="well">
	<h1>{% trans "Confess to" %} <a href='{{wall.url}}'>{{wall.name}}</a></h1>
	<hr>
	<form method='post'>
		{% csrf_token %}
		<textarea id="id_content" name="content" class="input-block-level" type="text" placeholder="{% trans "Write your confession here" %}" rows='3' required></textarea>

		{% for field in form.hidden_fields %}
			{{ field }}
		{% endfor %} 

		<input type="submit" value="{% trans 'Confess' %}" class="btn btn-large btn-block btn-success" />

	</form>
</div>
{% endblock content %}
