{% extends "base.html" %}
{% load i18n %}



{% block content %}
<div>
	<h1>{% trans "Almost there, just fill this form" %}</h1>
	
	<form action='' method='post'>
		{% csrf_token %}
		<p>{% for error in form.non_field_errors %}
			{{ error }}
			{% endfor %}
		</p>
		{{ form.non_field_errors }}

		<table class='table'>
			{% for field in form %}
			<tr><th>{{field.label}}</th><th>{{field}}</th><th>{{field.help_text}}
				{% if field.errors %}
				<div class="alert-message error">
					<p>{% for error in field.errors %}
						{{ error }}
						{% endfor %}
					</p>
				</div>
				{% endif %}
			</th></tr>
			{% endfor %}
		</table>

		{% for field in form.hidden_fields %}
		{{ field }}
		{% endfor %} <br />
    <input type="submit" value="{% trans 'Send' %}" class="btn btn-large btn-primary" />
	</form>
</div>


{% endblock content %}
